<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89daf3">  <td>20/02/15 08:56:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.setUp(java.lang.reflect.Method)[pri:0, instance:com.ecr.api.GetBalanceImpl@319b92f3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@688766789</td>   <td></td> </tr>
<tr bgcolor="b494a6">  <td>20/02/15 08:56:57</td>   <td>2330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetBalanceImpl.getBalance()[pri:0, instance:com.ecr.api.GetBalanceImpl@319b92f3]">getBalance</td> 
  <td>main@688766789</td>   <td></td> </tr>
<tr bgcolor="89daf3">  <td>20/02/15 08:57:01</td>   <td>6849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.tearDown()[pri:0, instance:com.ecr.api.GetBalanceImpl@319b92f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@688766789</td>   <td></td> </tr>
</table>
