<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9c4b8">  <td>20/11/07 16:35:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CurrencyConversionImpl.getCurrencyConversionAuth()[pri:0, instance:com.airasia.api.CurrencyConversion.CurrencyConversionImpl@65e2dbf3]">getCurrencyConversionAuth</td> 
  <td>main@1071097621</td>   <td></td> </tr>
</table>
